<div class="container text-center align-items-center">
  <main>
    <div class="container my-4 py-5"></div>
  </main>

  <h1>ThriftHaven</h1>

  <main>
    <div class="container my-2 py-2"></div>
  </main>
<div>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search item..."
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
