<div class="container">
<div>
<h1> item</h1>
</div>
<ul>
<% @items.each do |item| %>
<li><%= item.name %></li>
<li><%= item.category %></li>
<li><%= item.description %></li>
<li><%= item.rating %></li>
</ul>
</div>
