.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card {
  width: 350px;
  height: 400px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s box-shadow;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.card-description {
  font-size: 17px;
  color: #888;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.item-img {
  width: 60%;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
}


.card:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.card:hover::before, .card:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 350px;
  height: 400px;
  background: #FDA8CF;
  border-radius: 5px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.card:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
